@import '../variables/variables';


/* provider-rating */
.provider-rating {
  .provider-rating-avg,
  .provider-rating-based {
    display: none;
  }  
}


/* provider-intro */
.provider-intro {
  margin-bottom: 35px;  
}

/* provider-reviews-title */
.provider-reviews-title {
  margin-bottom: 0;
}


/* provider-review */
.provider-review {
  font-size: $font-size-base;
  margin: 30px 0 35px;

  .clearfix div {
    display: inline-block;
    vertical-align: top;
  }
  .provider-review-rating {
    margin-bottom: 5px;
    display: block!important;

    em {
      display: none;
    }
  }
  .provider-review-user-status {
    color: #fff;
    font-size: $font-size-small;
    font-weight: bold;
    padding: 2px 9px;
    margin-right: 15px;
  }
  .provider-review-user-avatar {
    border: solid 1px #ddd;
    margin-right: 5px; 
    line-height: 10px;

    img {
      width: 21px;
    }
  }
  .provider-review-user-name {
    line-height: 23px;
    font-weight: bold;
    margin-right: 15px;
  }
  .provider-review-user-points {
    margin-right: 17px;
  }
  .provider-review-user-date {
    line-height: 23px;
    color: #8d959c;
    margin: 5px 0 10px;
    display: block!important;
  }
  .provider-review-text {
    background: #fff;
    border: solid 1px #e1e1e1;
    padding: 20px;
  }
}


/* statuses */
.gold-status {
  background: #FFD700;
}
.silver-status {
  background: #C0C0C0;
}
.bronze-status {
  background: #CD7F32;
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
  .provider-review {
    .provider-review-user-date {
      margin-top: 0;
      display: inline-block!important;
    }
    .provider-review-user-points {
      margin-right: 40px;
    }
  }
}
@media only screen and (min-width: 768px) {
  .provider-rating {
    display: inline-block;
    vertical-align: middle;

    .provider-rating-avg {
      display: inline-block;
      background: #e6cd17;
      border-color: #e6cd17;
      border-style: solid;
      border-width: 2px 0 2px 2px;
      position: relative;
      top: 2px;
      text-align: center;
      height: 28px;
      line-height: 25px;
      margin-right: 30px;
      padding-left: 2px;
      width: 45px;
      
      .provider-rating-avg-corner {
        width: 0;
        height: 0;
        border-left: 14px solid #e6cd17;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        position: absolute;
        top: -2px;
        right: -14px;
      }
    }
    .provider-rating-based {
      display: block;
      margin: 8px 0 -18px;
      color: #fff;
      text-align: center;
    }
  }
  .provider-reviews-title {
    text-align: left;
  }
  .provider-review {
    text-align: left;
    margin: 45px 0 50px;
  
    .provider-review-rating {
      float: right;
      margin-bottom: 0;
    }
    .provider-review-user-points {
      margin-right: 17px;    
    }
  }
}
@media only screen and (min-width: 992px) {
  .provider-review {
    .provider-review-rating {
      > em {
        display: inline;
        margin-right: 15px;
        color: #8d959c;
        vertical-align: top;
      }
    }
  }
}
