// feedback
.feedback {
	background: $blue;
	color: $white;
	padding: 35px 0;

	p {
		font-size: $font-size-base;

		@media (min-width: $screen-sm) {  
			font-size: $font-size-large;
		}
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}