footer.footer
  .container
    p Saveonsend &copy; 2014 All rights reserved. Saveonsend is a trademark and/or registered trademark and trade dress of XYZ Corporation in the United States and elsewhere