@import '../variables/variables';
//@import 'common/mixins';


/* share */
.share {
  display: none;
}


/* follow-buttons */
.follow-buttons {
  background-color: #282828;
  padding: 18px 0 5px;

  a {
    display: inline-block;
    width: 36px;
    line-height: 36px;
    color: #fff;
    margin: 0 6px;
    border-radius: $border-radius-large;
    opacity: 0.6;
    //@include transition(opacity 0.2s ease-in-out);

    &:hover {
      opacity: 1;
    }    
    &.follow-button-facebook {
      background-color: #305891;
    }
    &.follow-button-twitter {
      background-color: #2ca8d2;
    }
    &.follow-button-linkedin {
      background-color: #4498c8;
    }
    &.follow-button-google {
      background-color: #cf4832;
    }
    &.follow-button-tumblr {
      background-color: #384853;
    }
  }
  .fa {
    font-size: 24px;
    vertical-align: middle;
  }
  .follow-button-label {
    display: none;
  }
}


/* Different resolutions */
@media only screen and (min-width: 320px) {
  .share {
    display: block;
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0%;
    width: 100%;
  }
}
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
  .share {
    top: 20%;
    bottom: auto;
    width: 64px;
  }
}