@import "../variables/variables";
@import "bootstrap/mixins";


/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  
  .footer {
    background-color: #282828;
    font-size: $font-size-small;
    padding: 13px 0;
  
    p {
      color: #6a6a6a;
      margin: 0 0 1em;
  
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #6a6a6a;
  
        &:focus {
          color: #6a6a6a;        
        }
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .disclosure {
    background-color: #282828;
    font-size: $font-size-small;
    text-align: justify;
  
    p {
      color: #6a6a6a;
      margin: 0 0 1em;
    }
  }
}


/* Different resolutions */
@media only screen and (min-width: 480px) {

}
@media only screen and (min-width: 768px) {
  footer {
    .disclosure {
      text-align: center;
    }
  }
}
@media only screen and (min-width: 992px) {

}