@import "../variables/variables";
@import "bootstrap/mixins";


/* splash */
.splash {
  background: #0b2840 image-url('map.png') no-repeat 50% 0;
  color: #fff;

  /* flags */
  .flags {
    margin-bottom: 24px;
    
    ul {
      li {
        display: inline-block;
        margin: 0 10px;
      }
      img {
        width: 50px;
      }
    }
  }


  /* buttons */
  .buttons {
    padding-top: 15px;

    ul {
      li {
        display: block;
        margin: 20px 15px 0;

        .btn {
          width: 200px;
          padding: 10px 20px;
        }
      }
    }
  }
  h1 {
    margin-bottom: 19px;
  }
  ul {
    font-size: $font-size-h5;
    margin: 0;
    padding: 0;
    
    li {
      list-style: none;
      margin-bottom: 5px;

      i {
        margin-right: 15px;

        &.fa-check {
          color: #1abc9c;
        }
      }
    }
  }
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
  .splash {
    .flags {
      ul {
        img {
          width: 70px;
        }
      }
    }

    .buttons {
      ul {
        li {
          display: inline-block;

          .btn {
            font-size: $font-size-h4;
          }
        }
      }
    }

    ul {
      font-size: $font-size-h4;
    }
  }
}
@media only screen and (min-width: 992px) {
}