@import '../variables/variables';


/* nav-pills */
.nav-pills {
  > li {
    margin-bottom: 0;
    
    > a {
      color: #191a1b;
    }
    &.active > a {
      color: #fff;

      &:hover {
        background-color: #31de56;
      }
    }
  }
}


/* panel */
.panel {
  .panel-heading {
    h4 {
      margin: 0;
    } 
  }
  &.panel-turquoise {
    .panel-heading {
      background-color: #1abc9c;
      border-color: #1abc9c;
      color: #fff;
    }
  }
}
