@import '../variables/variables';


/* content */
.content {
  font-size: $font-size-base;

  h2 {
    margin-bottom: 15px;
  }
  h2 {
    margin-bottom: 20px;
  }
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {  
  .content {
    font-size: $font-size-large;

    h2 {
      margin-bottom: 40px;
    }
  }
}
@media only screen and (min-width: 992px) {
}