@import '../variables/variables';


/* alert */
.alert {
  &.align-center {
    margin-bottom: 15px;  
  }
  ul {
    padding-left: 20px;
  }
}


/* buttons */
.btn {
  color: #fff;
  border: 0;

  &.btn-primary {
    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      background-color: #31de56;
    }
  }
  &.btn-orange {
    background: #ed8a42;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: #fff;
      background-color: #faa76b;
    }
  }
  &.btn-turquoise {
    background: #1abc9c;
    border-color: #1abc9c;

    &:hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
      color: #fff;
      background-color: #5edbc2;
    }
  }
}

.btn-lg,
.btn-group-lg > .btn {
  padding: 6px 20px;
  line-height: 1.7em;

  .fa {
    font-size: 30px;
    vertical-align: top;
  }
}


/* form */
form {
  max-width: 320px;
  margin: 0 auto;

  .form-group {
    margin-bottom: 20px;
  }
  .input-group-fix {
    width: 155px;
    margin: 0 auto;
  }
  input[type="file"] {
    font-size: $font-size-small;
  }
  .valabel {
    padding-top: 0!important;
  }
  .radio-inline {
    margin: 0 20px 0 0;

    input[type="radio"] {
      margin-right: 5px;
      position: relative;
    }
    img {
      height: 40px;
    }
  }
  .btn {
    margin: 3px 0;
  }
}
.form-horizontal {
  .form-group {
    > div {
      text-align: center;
    }
    .help-block {
      margin-bottom: 0;
    }
  }
  .user-rating {
    padding-top: 7px;
  }
}


/* providers */
.providers {
  .radio-inline {
    margin: 0 20px 10px 0;
    padding-top: 0;
  }
  .radio {
    display: inline-block;
  }
}


/* country */
.country {
  .radio-inline {
    margin: 0 10px 0 0;
    padding-top: 0;
    
    img {
      width: 40px;
      height: auto;
      margin: 6px 0;
    }
  }
}


/* capitalize */
textarea.text-capitalize {
  text-transform: none;
}


/* datetimepicker */
.bootstrap-datetimepicker-widget {
  right: -65px!important;
  
  &.dropdown-menu {
    &.pull-right {
      &:before {
        left: auto;
        right: 76px;
      }
      &:after {
        left: auto;
        right: 77px;
      }
    }
  }
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
  form {
    .radio-inline {
      img {
        height: 48px;
      }
    }
  }
  
  .country {
    .radio-inline {
      img {
        width: 48px;
        margin: 8px 0;
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  form {
    margin: 0;
    max-width: 100%;

    .input-group-fix {
      margin: 0;
    }
    .valabel {
      line-height: 48px;
    }
  }
  .form-horizontal {
    .form-group {
      > div {
        text-align: left;
      }
      > .valabel {
        text-align: right;
      }
    }
  }
}
@media only screen and (min-width: 992px) {
}
