/* Extra small devices (phones, less than 768px) */
@media (max-width: 468px) {
  #header{
    .navbar-brand{
      max-width: 228px;
      padding-top: 19px;
    }
    .nav-pills > li > a{
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  #signup-header{
    padding-top: 0;
    padding-bottom: 11px;
  }

  #signup-header h2,
  section.feedback h3{
    font-size: 20px;
  }

  #signup-header li,
  section.feedback p{
    font-size: 14px;
  }

  #signup-form {
    .radio-inline{
      img{
        max-width: 34px;
      }
      input{
        margin-top: 11px;
      }
    }
  }
}

@media (max-width: $screen-xs-max) {
  #header .nav-pills{
    margin-top: 0;
    border-top: 1px dotted #ddd;
    padding-top: 7px;
    padding-bottom: 7px;
  }
}


/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}


/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #signup-header ul{
    padding-left: 0;
  }
}


/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}
