// Provides a cross-browser method to implement display: inline-block;.
@mixin inline-block {
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

// This module provides tools needed to lay out your footer such that it sticks to the bottom of the page.
@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $root-footer-selector: unquote("#root_footer"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  #{$root-selector} {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
    #{$root-footer-selector} {
      height: $footer-height;
    }
  }
  #{$footer-selector} {
    clear: both;
    position: relative;
    height: $footer-height;
  }
}

// GRADIENTS
@mixin gradient-radial($inner-color: #555, $outer-color: #333, $type: circle) {
  background-image: -webkit-radial-gradient($type, $inner-color, $outer-color);
  background-image: radial-gradient($type, $inner-color, $outer-color);
  background-repeat: no-repeat;
}

// Typography
// -------------------------
@mixin text-emphasis-variant($color) {
  color: $color;
  &:hover {
    color: $color;
  }
}

@mixin font-smoothing($value: antialiased) {
  @if $value == antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}