/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require star-rating
 */


@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

@import 'common/variables';
@import 'common/icon';
@import 'bootstrap';
@import 'font-awesome';
@import 'pages/signup';
/*
*= require bootstrap-datetimepicker
*/

$footerHeight: 50px;

html {
  position: relative;
  min-height: 100%;
}

body {
  color: #333;
  font: 10px $font-family-base;
  text-align: center;
  background: #f9f9f9;
  margin-bottom: $footerHeight;
}


.notification {
  background: #dcdcdc;
  font-size: 12px;
  color: #6b6b6b;

  a {
    color: #303b9b;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 1em 0;
    font-style: italic;
  }
}

#header{
  .navbar-brand{
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .nav-pills{
    margin-top: 16px;
    > li {
      margin-left: 5px;
      &:first-child{
        margin-left: 0;
      }
      > a {
        border-radius: 13px;
        border-color: transparent;
        color: #191a1b;
        padding: 7px 19px;
        font-size: 15px;
        outline: 0 none;
      }
      &.active > a{
        color: #fff;
        &:hover{
          background-color: darken($btn-primary-bg, 5%);
        }
      }
    }
  }
}

section {
  padding: 50px 0;

  .header {
    background: #3780ca;
    color: #fff;
    line-height: 30px;
    margin-bottom: 40px;
    padding: 35px 0;

    h2 {
      margin: 0 !important;

      span {
        color: #f8c400;
        font-size: 1.1em;
      }
    }

    .benefits {
      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;

          .fa {
            margin-right: 5px;
          }
        }
      }
    }
  }

  &.splash {
    background: #0b2840 image-url('map.png') no-repeat 50% 0;

    .flags {
      ul {
        li {
          display: inline-block;
          margin: 0 10px;
        }
      }
    }

    .buttons {
      ul {
        li {
          display: inline-block;
          margin: 40px 15px 0;

          a {
            padding: 16px 26px;

            &.btn {
              color: #fff;
              font-weight: bold;
            }

            &.btn-orange {
              background: #ed8a42;

              &:hover,
              &:focus,
              &.focus,
              &:active,
              &.active {
                color: #fff;
                background-color: darken(#ed8a42, 10%);
                    border-color: darken(#ed8a42, 12%);
              }
            }

            &.btn-turquoise {
              background: #1abc9c;

              &:hover,
              &:focus,
              &.focus,
              &:active,
              &.active {
                color: #fff;
                background-color: darken(#1abc9c, 10%);
                    border-color: darken(#1abc9c, 12%);
              }
            }
          }
        }
      }
    }

    h1 {
      color: #fff;
      display: inline-block;
      font-size: 4.2em;
      font-weight: bold;
      line-height: 140%;
      margin-bottom: 22px;
      width: 60%;
    }

    ul {
      margin: 0;
      padding: 0;
      
      li {
        color: #fff;
        list-style: none;
        font-size: 1.9em;

        i {
          margin-right: 15px;

          &.fa-check {
            color: #1abc9c;
          }
        }
      }
    }
  }

  &.content {
    background: #fff image-url('content-pattern.png') repeat 0 0;
    font-size: 1.5em;

    h2 {
      font-weight: bold;
      margin-bottom: 50px;
    }

    .fa-cash          {
      &:before {
        content: "\f0d6";
      }
    }
    .fa-bank-account  {
      &:before {
        content: "\f19c";
      }
    }
    .fa-plastic-card  {
      &:before {
        content: "\f09d";
      }
    }

    form {
      &.user_next_transfer,
      &.user_recent_transaction {
        .form-group {
          margin-bottom: 30px;
        }

        .control-label {
          padding-top: 0;
        }

        .valabel {
          line-height: 48px;
          // padding-top: 0;
        }

        .radio-inline input[type="radio"] {
          line-height: 48px;
          margin-right: 5px;
          position: relative;
        }

        .radio {
          padding-top: 0;
        }

        .radio-inline {
          margin-right: 10px;
          padding-top: 0;
        }
      }

      &.user_recent_transaction {
        .control-label {
          padding-top: 7px;
        }

        .valabel {
          padding-top: 0;
        }

        .lh-normal {
          line-height: normal;
        }

        .providers {
          div {
            height: 50px;
            
            margin-bottom: 5px;

            img {
              min-height: 50px;
              max-height: 50px;
            }

            &:nth-child(3n+3) {

              &:before {
                clear: both;
              }
            }
          }

          img {
            max-width: 100%;
          }
        }

        .duration {
          line-height: 36px;
        }
      }
    }
  }

  &.feedback {
    background: #113c5e;
    color: #fff;
    padding: 40px 0;

    h3 {
      font-size: 3.2em;
      font-weight: bold;
    }

    p {
      font-size: 1.7em;

      a {
        color: #fff;
        text-decoration: underline;

        &:hover {

        }
      }
    }
  }

  &.next-tr-page {
    padding: 0 0 20px;

    .output-table {
      //border-bottom: 1px solid #eee;
      //padding-bottom: 75px;

      p {
        color: #393939;
        font-size: 1.2em;
        margin: 0 auto 35px;
        width: 60%;
      }

      table {
        border-collapse: collapse;

        th {
          background: #113c5e;
          border: 0;
          color: #fff;
          line-height: 100%;
          padding: 10px 15px;
          vertical-align: middle;
        }

        td {
          border: 1px solid #cbcbcb;
          border-width: 0 0 1px 1px;
          color: #191a1b;
          line-height: 100%;
          vertical-align: middle;

          &:first-child {
            border-left: 0;
          }

          a {
            color: #191a1b;
          }
        }

        tr {
          &.best {
            td {
              background: #fbf6a5;
            }
          }
        }
      }
    }
  }

  &.recent-tr-page {
    padding: 0;

    .header {
      .benefits {
        margin-top: 25px;

        li {
          font-size: 1.2667em;
        }
      }
    }

    .intro {
      h3 {
        color: #191a1b;
        font-size: 28px;
        font-weight: bold;
      }

      p {
        color: #191a1b;
        font-size: 1.2em;
        margin: 0 auto 45px;
        width: 50%;
      }
    }
  }
}


footer {
  line-height: $footerHeight;
  background-color: #282828;
  font-size: 10px;
  bottom: 0;
  min-height: $footerHeight;
  position: absolute;
  width: 100%;
  p {
    // text-align: center;
    color: #6a6a6a;
    font-size: 1.2em;
    margin: 0 0 1em;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      color: #6a6a6a;

      &:hover {
        color: #fff;
      }
    }
  }
}

@import 'common/responsive';
