@import 'common/variables';


/* feedback */
.feedback {
  background: #113c5e;
  color: #fff;
  padding: 40px 0;

  h3 {
    font-size: 3.2em;
    font-weight: bold;
  }
  p {
    font-size: 1.7em;

    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}