@import 'common/variables';


/* footer */
footer {
  line-height: $footerHeight;
  background-color: #282828;
  font-size: 12px;
  margin-top: -$footerHeight;
  min-height: $footerHeight;
  width: 100%;

  p {
    color: #6a6a6a;
    margin: 0 0 1em;

    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #6a6a6a;

      &:focus {
        color: #6a6a6a;        
      }
      &:hover {
        color: #fff;
      }
    }
  }
}