@import 'common/variables';


/* footer */
footer {
  line-height: $footerHeight;
  background-color: #282828;
  font-size: 10px;
  bottom: 0;
  min-height: $footerHeight;
  position: absolute;
  width: 100%;

  p {
    color: #6a6a6a;
    font-size: 1.2em;
    margin: 0 0 1em;

    &:last-child {
      margin-bottom: 0;
    }
    a {
      color: #6a6a6a;

      &:hover {
        color: #fff;
      }
    }
  }
}