@import 'common/variables';


/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 242px;
  
  .footer {
    background-color: #282828;
    font-size: 12px;
    line-height: 42px;
  
    p {
      color: #6a6a6a;
      margin: 0 0 1em;
  
      &:last-child {
        margin-bottom: 0;
      }
      a {
        color: #6a6a6a;
  
        &:focus {
          color: #6a6a6a;        
        }
        &:hover {
          color: #fff;
        }
      }
    }
  } 
}