@import 'common/variables';


/* header */
#header {
  .navbar-brand {
    width: 228px;
    padding: 19px 15px 14px;
  }
  .nav-pills {
    display: inline-block;
    border-top: 1px dotted #ddd;
    padding: 7px 0 0;

    > li {
      > a {
        border-radius: 12px;
        border-color: transparent;
        color: #191a1b;
        padding: 6px 15px;
        font-size: 16px;
      }
      &.active > a {
        color: #fff;

        &:hover {
          background-color: #31de56;
        }
      }
    }
  }
}


/* header of content */
.content-header {
  background: #3780ca;
  color: #fff;
  padding: 32px 0 22px 0;

  h2 {
    margin: 0 0 14px 0;

    span {
      color: #f8c400;
      font-size: $font-size-h1;
    }
  }
  ul {
    font-size: $font-size-h5;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      margin-bottom: 5px;

      .fa {
        margin-right: 5px;
      }
    }
  }
}


/* header of provider */
.provider-header {
  background: #113c5e;
  padding: 29px 0 25px 0;
  
  .provider-logo {
    margin-bottom: 20px;
  }
  .user-rating {
    .star-rating-control {    
      .rating-cancel,
      .star-rating {
        height: 30px;
        width: 38px;
  
        a {
          width: 32px;
        }
      }
      .star-rating,
      .star-rating a {
        background: image-url('star_b.png') no-repeat 0 0;
      }
      .star-rating-on,
      .star-rating-on a {
        background-position: 0 -30px;
      }
      .star-rating-hover,
      .star-rating-hover a {
        background-position: 0 -60px;
      }
    }
  }
  .provider-link {
    margin-top: 22px;
  }
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
  #header {
    .navbar-brand {
      padding-top: 11px;
      width: auto;
    }
    .nav-pills {
      > li {
        margin-left: 5px;

        > a {
          padding: 6px 23px;
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #header {
    .nav-pills {
      display: inline-block;
      margin-top: 14px;
      padding: 0;
      border: none;
    }
  }

  .content-header {  
    h2 {
      span {
        font-size: 42px;;
      }
    }
    ul {
      font-size: $font-size-h4;
    }
  }


  .provider-header {
    .provider-logo {
      margin: 0 50px 0 0;
      display: inline-block;
    }
    .user-rating {
      vertical-align: middle;
    }
  }
}
@media only screen and (min-width: 992px) {
  .provider-header {
    text-align: left;
    
    .provider-logo {
      margin: 0 20px 0 0;
    }
    .provider-link {
      float: right;
    }
  }
}