.fa-php:before {
  content: '₱';
}
.fa-mxn:before {
  content: 'M\f155';
}
.fa-cash:before {
  content: "\f0d6";
}
.fa-bank-account:before {
  content: "\f19c";
}
.fa-plastic-card:before {
  content: "\f09d";
}