@import 'common/variables';


html {
  position: relative;
  min-height: 100%;
}
body {
  text-align: center;
  background: #f9f9f9;
  margin-bottom: $footerHeight;
}


/* headers */
h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
}


/* general */
section {
  padding: 35px 0;
}
.f-normal {
  font-size: $font-size-base;
}
.align-center {
  width: 100%;
  margin: 0 auto;
  float: none;    
}


/* Different resolutions */
@media only screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 42px;
  }
  h2, .h2 {
    font-size: 36px;
  }
  h3, .h3 {
    font-size: 32px;
  }
  h4, .h4 {
    font-size: 24px;
  }
  h5, .h5 {
    font-size: 19px;
  }
  h6, .h6 {
    font-size: 17px;
  }

  section {
    padding: 50px 0;
  }
  .align-center {
    width: 75%;
  }
}
@media only screen and (min-width: 992px) {
  .align-center {
    width: 55%; 
  }
}