@import 'common/variables';


html {
  min-height: 100%;
  position: relative;

  &.fix {
    overflow: hidden;
  }
}
body {
  text-align: center;
  background: #f9f9f9 image-url('content-pattern.png') repeat 0 0;
  min-width: 320px;
  margin-bottom: 420px;
  
  &.fix {
    height: 100%;
    overflow: hidden;
  }
}

p {
  margin: 0 0 15px;
}
ul,
ol {
  padding: 0 0 0 20px;
  margin: 0 0 15px;
  
  li {
    margin-bottom: 10px;
  }
}


/* headers */
h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  letter-spacing: 0.5px;
}


/* general */
section {
  padding: 35px 0;
}
.f-normal {
  font-size: $font-size-base;
}
.align-center {
  width: 100%;
  margin: 0 auto;
  float: none;    
}


/* colors */
.red {
  color: #ff0000;
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
  body {
    margin-bottom: 380px;
  }

  .align-center {
    width: 85%;
  }  
}
@media only screen and (min-width: 768px) {
  body {
    margin-bottom: 365px;
  }

  h1, .h1 {
    font-size: 42px;
  }
  h2, .h2 {
    font-size: 36px;
  }
  h3, .h3 {
    font-size: 32px;
  }
  h4, .h4 {
    font-size: 24px;
  }
  h5, .h5 {
    font-size: 19px;
  }
  h6, .h6 {
    font-size: 17px;
  }

  section {
    padding: 50px 0;
  }
  .align-center {
    width: 75%;
  }
}
@media only screen and (min-width: 992px) {
  body {
    margin-bottom: 340px;
  }

  .align-center {
    width: 55%; 
  }
}