@import 'common/variables';


/* next transfer */
.next-tr-page {
  padding: 0 0 20px;

  .output-table {
    //border-bottom: 1px solid #eee;
    //padding-bottom: 75px;

    p {
      color: #393939;
      font-size: 1.2em;
      margin: 0 auto 35px;
      width: 60%;
    }

    table {
      border-collapse: collapse;

      th {
        background: #113c5e;
        border: 0;
        color: #fff;
        line-height: 100%;
        padding: 10px 15px;
        vertical-align: middle;
      }

      td {
        border: 1px solid #cbcbcb;
        border-width: 0 0 1px 1px;
        color: #191a1b;
        line-height: 100%;
        vertical-align: middle;

        &:first-child {
          border-left: 0;
        }

        a {
          color: #191a1b;
        }
      }

      tr {
        &.best {
          td {
            background: #fbf6a5;
          }
        }
      }
    }
  }
}