@import 'common/variables';


/* next transfer */
.next-tr-page {
  p {
    color: #393939;
    margin-bottom: 35px;
  }
  .table {
    font-size: $font-size-base;
    margin-bottom: 50px;

    a {
      color: #191a1b;
      
      &:focus,
      &:hover {
        text-decoration: none;
      }
    }
    th {
      background: #113c5e;
      border: 0;
      color: #fff;
      letter-spacing: 0.5px;
      line-height: 1em;
      padding: 10px 17px;
      vertical-align: middle;
      text-align: center;
      white-space: nowrap;
      height: 52px;
      
      &.tablesaw-cell-persist {
        width: 117px!important;
      }
      &.option-margin {
        background: #2c2c2c;
        border: 1px solid #2c2c2c;
        border-width: 0 1px;
      }
    }
    td {
      border: 1px solid #c3c3c3;
      border-width: 0 0 1px 1px;
      vertical-align: middle;
      line-height: 1em;
      white-space: nowrap;

      &:first-child {
        border-left: 0;
      }
      &.tablesaw-cell-persist {
        border-right: solid 1px #113c5e;
      }
      &.option-margin {
        background: image-url('layer.png') repeat 0 0;
      }
      .user-rating {
        width: 133px;
      }
    }
    tr {
      &.option-best {
        td {
          background: #fbf6a5;

          &.option-margin {
            background: #fbf6a5 image-url('layer.png') repeat 0 0;
          }
        }
        .option-method-label {
          padding: 0;
          border: none;

          .option-method-wrap {
            position: relative;
            
            span {
              font-size: $font-size-small;
              position: absolute;
              top: 0px;
              left: 0px;
              padding: 1px 7px;
              background: #00a651;
              color: #fff;              
            } 
          }
        }
        .option-method-ico {
          border: 1px solid #c3c3c3;
          border-width: 0 0 1px 1px;            
        }
      }
    }
  }
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
}
@media only screen and (min-width: 768px) {
}
@media only screen and (min-width: 992px) {
  .next-tr-page {
    .tablesaw-bar {
      display: none;
    }
    .table {
      th.tablesaw-cell-persist {
        width: auto!important;
      }
      td.tablesaw-cell-persist {
        border-right: none;
      }
    }
  }
}