#signup-header {
  background-color: #2172c5;
  color: #fff;
  padding-top: 16px;
  padding-bottom: 27px;

  h2 {
    font-weight: bold;
    font-size: 29px;
    margin-bottom: 22px;
  }
  ul{
    padding-left: 20px;
  }
  li {
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;

    i {
      margin-right: 16px;
      font-size: 14px;
    }
  }
}

#signup-form{
  background-image: image-url('signup-bg.jpg');
  padding-top: 35px;
  padding-bottom: 60px;
  font-size: 15.6px;

  .form-group .text-left{
    text-align: center;
  }
  label{
    margin-right: 10px;
    font-size: 13px;

    input{
      margin-top: 18px;
    }
  }
  .valabel{
    font-size: 18px;
  }
  input[type="text"]{
    margin-top: 5px;
  }
  .checkbox{
    text-align: left;
    font-size: 12px;

    input{
      margin-top: 2px;
    }
  }
  .btn {
    border-color: transparent;
    padding-left: 18px;
    padding-right: 20px;
    margin-top: 5px;

    i{
      margin-right: 4px;
    }
  }
}


@media (max-width: 468px) {
  #signup-header{
    padding-top: 0;
    padding-bottom: 11px;
  }

  #signup-header h2,
  section.feedback h3{
    font-size: 20px;
  }

  #signup-header li,
  section.feedback p {
    font-size: 14px;
  }

  #signup-form {
    .radio-inline {
      img {
        max-width: 34px;
      }
      input{
        margin-top: 11px;
      }
    }
  }
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #signup-header ul{
    padding-left: 0;
  }
}
