@import 'common/variables';


/* user-page-wrap */
.user-page-wrap {
  background: #fff;
  border: solid 1px #ddd;
  padding: 30px 0 10px;
  overflow: hidden;
}


/* user-registration */
.user-registration {
  .valabel {
    line-height: 1.42857em;
  }
  
  input[type="text"] {
    margin-top: 5px;
  }
  .checkbox {
    text-align: left;
    font-size: $font-size-small;

    input{
      margin-top: 2px;
    }
  }
}


@media (max-width: 468px) {
  .user-registration {
    .radio-inline {
      img {
        max-width: 34px;
      }
      input{
        margin-top: 11px;
      }
    }
  }
}


/* Different resolutions */
@media only screen and (min-width: 480px) {
  .user-page-title {
    margin: 0 50px;    
  }
  .user-page-wrap {
    padding: 30px 20px 10px;
    margin: 0 50px;
  }
}
@media only screen and (min-width: 768px) {
  .user-page-title {
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .user-page-title {
    margin: 0 100px;
  }
  .user-page-wrap {
    margin: 0 100px;
  }
}